<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="view/css/element-ui.min.css">
<script type="text/javascript" src="view/js/jquery-3.1.1.min.js" charset="UTF-8"></script>
<script src="view/js/vue.min.js"></script>
<script src="view/js/element-ui.min.js"></script>
<script src="view/js/echarts.min.js"></script>
</head>
<body>
  <el-row>
    <el-menu></el-menu>
  </el-row>
  <div class="el-row" style="margin-left: -10px; margin-right:-10px">
    <div id="sideMenu">
    <el-col span="4">
      <el-menu :default-active="config.p" v-on:select="select">
        <el-menu-item index="">首页</el-menu-item>
        <el-menu-item v-for="(item,name) in config.plugin" :index="name">{{item.title}}</el-menu-item>
      </el-menu>
    </el-col>
    </div>
    <div class="el-col el-col-20" style="padding-left:10px;padding-right:10px">