<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="view/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="view/js/echarts.min.js"></script>
<script src="view/js/vue.min.js"></script>
<script type="text/javascript" src="view/js/datetimepicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="view/js/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
</head>
<body>
<form id="form" class="form-inline">
    <div class="form-group">
        <label>sum</label><input name="sum" v-model="sum">
    </div>
    <div class="form-group">
        <label>count</label><input name="count" v-model="count">
    </div>
    <div class="form-group">
        <label>stime</label><input id="stime" name="stime" v-model="stime">
    </div>
    <div class="form-group">
        <label>etime</label><input id="etime" name="etime" v-model="etime">
    </div>
    <div class="form-group" v-for="(index,v) in where_if">
        <label>条件</label><input name="where_f[]" v-model="where_f[index]">
        <label>值</label><input name="where_v[]" v-model="where_v[index]">
        <button type="button" v-on:click="delWhere(index)">x</button>
    </div>
    <button type="button" v-on:click="addWhere">添加条件</button>
    <button type="button" v-on:click="submit">提交</button>
</form>
<div id="chart"></div>
<script>
$('#stime').datetimepicker({
    language:  'zh-CN',
    format: 'yyyy-mm-dd hh:ii:ss'
});
$('#etime').datetimepicker({
    language:  'zh-CN',
    format: 'yyyy-mm-dd hh:ii:ss'
});
var chart = echarts.init(document.getElementById('chart'))

new Vue({
    el:"#form",
    data:{
        sum: "",
        count: "",
        stime: "",
        etime: ""
        where_f: [],
        where_v: [],
        config: {
            logFormatAs: []
        },
        chartOption: {
            title: "",
            tooltip: {},
            legend: {
                data: []
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: []
        }
    },
    beforeCreate: ()=>{
        this.request({
            url: '/?getConfig=1',
            complete: (data)=>{
                this.config = data
            }
        })
    },
    methods: ()=>{
        request: (option)=>{
            if(typeof option.url == 'undefined'){
                return false;
            }
            let xhr = new XMLHttpRequest();
            xhr.open(typeof option.method == 'undefined' ? 'GET' : option.method, option.url)
            if(typeof option.complete != 'undefined'){
                xhr.onreadystatechange = option.complete
            }
            if(typeof option.data != 'undefined'){
                xhr.send(option.data)
            }else{
                xhr.send()
            }
        },
        submit: ()=>{
            this.request({
                url: '/'
            })
        },
        render: ()=>{
            chart.setOption(this.chartOption)
        },
        addWhere: ()=>{
            this.where_f.push('')
            this.where_v.push('')
        },
        delWhere: (index)=>{
            this.where_f.splice(index,1)
            this.where_v.splice(index,1)
        }
    }
})
</script>
</body>
</html>