<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="view/css/element-ui.min.css">
</head>
<body>
  <div class="container" style="width:1280px;matgin-right:auto;margin-left:auto;">
    <div id="form">
      <el-form :inline="true">
      <el-row>
        <el-form-item>
          <el-input placeholder="加和" v-bind:disabled="inputs.count" v-model="inputs.sum"></el-input>
        </el-form-item>
        <el-form-item>
          <el-checkbox type="checkbox" v-bind:disabled="inputs.sum != ''" v-model="inputs.count">计数</el-checkbox>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="主索引( * )" v-model="inputs.table"></el-input>
        </el-form-item>
        <el-form-item>
          <el-date-picker v-bind:readonly="appending" type="datetimerange" :picker-options="pickerOptions" placeholder="时间范围（默认1小时内）" style="width:350px" v-model="inputs.datetimerange"></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-input v-bind:readonly="appending" placeholder="间隔时间(小时)" v-model="inputs.period"></el-input>
        </el-form-item>
      </el-row>
      <el-row style="width:1080px">
          <template class="form-group" v-for="(v,index) in inputs.where_f">
            <el-form-item>
              <el-input placeholder="条件" v-model="inputs.where_f[index]"></el-input>
            </el-form-item>
            <el-form-item>
              <el-input placeholder="值" v-model="inputs.where_v[index]"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button v-on:click="delWhere(index)" icon="close"></el-button>
            </el-form-item>
          </template>
      </el-row>
      <el-row>
        <el-form-item>
          <el-button :plain="true" type="info" v-on:click="addWhere" icon="plus">添加条件</el-button>
        </el-form-item>
        <el-form-item>
          <el-button :plain="true" type="warning" v-on:click="clear">还原</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" v-on:click="submit">提交</el-button>
        </el-form-item>
      </el-row>
      </el-form>
    </div>
    <div class="row">
      <div id="chart" style="width: 900px;height:400px;"></div>
    </div>
  </div>
<script type="text/javascript" src="view/js/jquery-3.1.1.min.js" charset="UTF-8"></script>
<script src="view/js/vue.min.js"></script>
<script src="view/js/element-ui.min.js"></script>
<script src="view/js/echarts.min.js"></script>
<script>
var chart = echarts.init(document.getElementById('chart'))

new Vue({
    el:"#form",
    data:{
        appending: false,
        inputs:{
            table: "",
            sum: "",
            count: false,
            datetimerange: "",
            where_f: [],
            where_v: [],
        },
        config: {
            logFormatAs: []
        },
        chartOption: {
            title: "",
            tooltip: {},
            legend: {
                data: []
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: []
        },
        pickerOptions: {
          shortcuts: [{
            text: '半小时内',
            onClick(picker) {
              const end = new Data();
              const start = new Date();
              start.setTime(start.getTime() - 1800 * 1000);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '一天内',
            onClick(picker) {
              const end = new Data();
              const start = new Data();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
    },
    created: function(){
        $.getJSON({
            url: '/?getConfig=1',
            success: (data)=>{
                this.config = data
            }
        })
    },
    methods: {
        submit: function(){
            this.appending = true
            let self = this
            $.getJSON({
                url: '/',
                data: this.inputs,
                success: this.render
            })
        },
        render: function(data){
            this.chartOption.xAxis.data = data.xData
            this.chartOption.legend.data.push(this.inputs.table)
            this.chartOption.series.push({
                name: this.inputs.table,
                type: 'line',
                data: data.yData
            })
            chart.setOption(this.chartOption)
        },
        addWhere: function(){
            this.inputs.where_f.push('')
            this.inputs.where_v.push('')
        },
        delWhere: function(index){
            this.inputs.where_f.splice(index,1)
            this.inputs.where_v.splice(index,1)
        },
        clear: function(){
          this.chartOption =  {
              title: "",
              tooltip: {},
              legend: {
                  data: []
              },
              xAxis: {
                  data: []
              },
              yAxis: {},
              series: []
          }
          chart.clear()
          this.inputs = {
              table: "",
              sum: "",
              count: false,
              datetimerange: "",
              where_f: [],
              where_v: [],
          }
          this.appending = false
        }
    }
})
</script>
</body>
</html>